.container{
    height: 500px;
    background-color: gainsboro;
}

body{
    background-color: grey;
}

.row{
    height: 250px;
    padding: 10px;
    color: white;
}

.order-1,.order-3,.order-5,.order-7{
    border: 2px solid rgb(116, 30, 30);
    background-color: rgb(116, 30, 30);
}

.order-2,.order-4,.order-6,.order-8{
    border: 2px solid rgb(46, 46, 138);
    background-color: rgb(46, 46, 138);
}